<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>TICKETAK</title>
</head>
<body>
    <%- include("navbar")  %> 

    <div class="home">

        <!-- Input Field -->
        <div class="inputFieldLogin">

            <!-- Sign-In -->
            <form style="text-align: center;margin: 50px;" action="" method="POST"> 

                <!-- Login title -->
                <h3 class="logIn">Sign-in : </h3>

                

                <div class="form-group inputResume">
                    <input name="signInEmail" type="email" class="form-control" id="inputEmailSI" placeholder="Email">
                </div>

                <div class="form-group inputResume">
                    <input name="signInPassword" type="password" class="form-control" id="inputPasswordSI" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-danger">Confirm</button>

            </form>

            <!-- Sign-up -->
            <form style="text-align: center;" action="" method="POST">

                    <!-- Login title -->
                <h3 class="logIn">Sign-up : </h3>
        
                <div class="form-group inputResume">
                    <input name="signUpFirstName" type="text" class="form-control " id="inputFirstNameSU" placeholder="FirstName">  
                </div>
   
   
                <div class="form-group inputResume">
                    <input name="signUpName" type="text" class="form-control " id="inputNameSU" placeholder="Name">  
                </div>
                
                
        
                <div class="form-group inputResume">
                    <input name="signUpEmail" type="text" class="form-control" id="inputEmailSU" placeholder="Email">
                </div>

                <div class="form-group inputResume">
                    <input name="signUpPassword" type="password" class="form-control" id="inputPasswordSU" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-danger">Confirm</button>
        
            </form>

        </div>

        
        <div class="footer">
            <p>© 2022 LaCapsule</p>
        </div>
    </div> 
    
</body>
</html>