<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!--ajouter fontawesome link-->
    <title>Ticketac</title>
</head>

<body>
    <%- include("navbar") %>

        <div class="home">

            <div class="pasDeTrain">
                <h3 style="color:white">Oops ! No trains available...</h3>
                <a href="/login" class="btn btn-danger mx-sm-3">Home</a>
            </div>


            <div class="footer d-flex justify-content-center">
                <footer class="masfoot mt-auto">

                    <nav class="navbar bg-transparent mt-4">
                        <div class="container">
                            <p class="small text-white text-center">© 2022 La Capsule</p>
                        </div>
                    </nav>

                </footer>

            </div>






        </div>



























</body>